* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    padding: 16px;
    width: 800px;
}

.post {
    margin: 24px 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 6px 5px rgba(82, 64, 40, 0.12);
    -moz-box-shadow: 0px 0px 6px 5px rgba(82, 64, 40, 0.12);
    box-shadow: 0px 0px 6px 5px rgba(82, 64, 40, 0.15);
}

.post-enter {
    opacity: 0;
    transform: translateY(-50px);
}

.post-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0;
    transform: translateX(150px);
    transition: all 300ms ease-out;
}

.pages__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 8px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    min-width: 52px;
    background: white;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.page:last-child {
    margin-right: 0;
}

.page:hover {
    background: #f0f0f0;
}

.page__current {
    background: dodgerblue;
    color: white;
}

.page__current:hover {
    background: dodgerblue;
    opacity: 0.7;
}